[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

flask = "*"
requests = "*"
futures = "*"
"flask-bootstrap" = "*"
googletrans = "*"
"yandex.translate" = "*"
"flask-webpack" = "*"
"flask-migrate" = "*"
"flask-script" = "*"
"sqlalchemy-utils" = "*"
"e1839a8" = {path = ".", editable = true}
pymysql = "*"
"flask-socketio" = "==2.8.5"
eventlet = "*"
gunicorn = "*"
speechrecognition = "*"
"youtube-dl" = "*"
pocketsphinx = "==0.0.9"