{% extends "layout.html" %}

{% block content %}
<div id=translation-area>
  <div class=row>
    <div class=col-md-5>
      {{ macros.build_select("English", "Recognition Language", "recognition-language", recognitions.items()) }}
    </div>
    <div class=col-md-1></div>
    <div class=col-md-5>
      {{ macros.build_select("Japanese", "Translation Language", "translation-language", languages.items()) }}
    </div>
  </div>
  <div class=row>
    <div class=col-md-5>
      {{ macros.build_textarea("Input Text to Translate", "input", 18, True, False) }}
    </div>
    <div class="col-md-1 text-center"><i class="fa fa-chevron-right fa-3x"></i></div>
    <div class=col-md-5>
      {{ macros.build_textarea("Translated Input", "translated-input", 20, False, True) }}
    </div>
  </div>
  <div class=row>
    <div class="col-md-11 remove-right-padding block-spacing">
        {{ macros.build_select("Google", "Translator", "translator", translators.items()) }}
    </div>
  </div>
</div>

<div class=row>
  <div class="col-md-11">
    <h3><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> Voice Commands</h3>
    <p class=lead>click <em>Speak</em> and say any of the following:</p>
    <table class="table">
      <thead>
        <th>command</th>
        <th>description</th>
      </thead>
      <tr>
        <td>recognize [LANGUAGE]</td>
        <td>changes the recognized language for speech-to-text input</td>
      </tr>
      <tr>
        <td>translate [LANGUAGE]</td>
        <td>changes the output translation language</td>
      </tr>
      <tr>
        <td>translator [TRANSLATOR]</td>
        <td>changes translation API used</td>
      </tr>
      <tr>
        <td>given</td>
        <td>translates the text in the input field with the current settings</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
