{% extends "layout.html" %}

{% block content %}
<div id=translation-area>
  <div class=row>
    {{ macros.build_textarea("Input Text to Translate", "input", 18, True, False) }}
    {{ macros.build_textarea("Received Input", "untranslated-input", 20, False, True) }}
    {{ macros.build_textarea("Translated Input", "translated-input", 20, False, True) }}
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div class=row>
  <div class="col-md-12 remove-right-padding block-spacing">
      {{ macros.build_select("English", "Recognition Language", "recognition-language", recognitions.items()) }}
      {{ macros.build_select("English", "Translation Language", "translation-language", languages.items()) }}
      {{ macros.build_select("Google", "Translator", "translator", translators.items()) }}
      <button type=button id=listen class="btn btn-primary btn-block">Listening</button>
  </div>
</div>
{% endblock %}
