{% extends "layout.html" %}

{% block content %}

<script>
  $(function(){
    if (Notification.permission !== "denied") {
      Notification.requestPermission(function (permission) {});
    }

    $("#youtube-url").on("keyup", function(event){
      $("#transcribeYoutube").prop("disabled", ($.trim($("#youtube-url").val()).length == 0))
    })

    $("#transcribeYoutube").prop("disabled", "true")
    $("#transcribeYoutube").click(function(e){
      youtube_url = $("#youtube-url").val()
      parsed_url  = new URL(youtube_url)
      if (youtube_url.length > 0) {
        $.ajax({
          type: "GET",
          url: "/transcribe",
          data: { url: youtube_url },
          dataType: "json",
          beforeSend: function() {
            yt_id = parsed_url.searchParams.get("v")
            $("#output.transcript-container").html("<div class='text-center'><i class='fa fa-circle-o-notch fa-spin fa-3x'></i><br /> Transcribing audio... (this takes a long time depending on video)</div>")
            $("#transcribeYoutube").prop("disabled", "true")

            $("#videoContainer").html('<iframe width="560" height="315" src="https://www.youtube.com/embed/'+yt_id+'" frameborder="0" allowfullscreen></iframe>')
          },
          error: function(jqXHR, textStatus, errorThrown){
            $("#output.transcript-container").html("<i class='fa fa-exclamation-triangle'></i> " + textStatus + ": " + errorThrown + " " + JSON.parse(jqXHR.responseText).Error)
            $("#transcribeYoutube").prop("disabled", "false")
          },
          success: function(data){
            $("#output.transcript-container").html(data["transcript"])
            $("#transcribeYoutube").prop("disabled", "false")

            if (Notification.permission === "granted") {
              var notification = new Notification("Transcript Complete!");
            }
          }
        })
      }
    })
  })
</script>

<div class=row>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Youtube URL" id="youtube-url" autofocus/>
    <span class="input-group-btn">
      <button class="btn btn-info" type="button" id="transcribeYoutube">Transcribe <span class="fa fa-video-camera"></span></button>
    </span>
  </div>
</div>

<div class=row>
  <div class="col-md-11 text-center" id="videoContainer">
  </div>
</div>

<div class=row>
  <div class="col-md-11">
    <h3><i class="fa  fa-file-text" aria-hidden="true"></i> Youtube Transcript</h3>
    <p class=transcript-container id=output>
      <em>Transcript goes here...</em>
    </p>
  </div>
</div>

{% endblock %}
